entrypoint = "index.js"
modules = ["nodejs-18", "nix"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[workflows]
runButton = "Running Ticket bot"

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 40026577

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "Running Ticket bot"
mode = "sequential"
author = 40026577

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
